/* background classes */
.bg-black {
  background-color: $color-black;
}
.bg-white {
  background-color: $color-white;
}

/* border classes */
.radius {
  border-radius: 3px;
}

/* color classes */
.black {
  color: $color-black;
}
.blue {
  color: $color-blue;
}
.white {
  color: $color-white;
}

.black-trans-30 {
  color: $color-black-trans-30;
}

.black-trans-10 {
  color: $color-black-trans-10;
}

/* font classes */
.bold {
  font-weight: bold;
}

